body {
	width:130px;
	height:35px;
  color: #FFF;
  font-size: 11px;
  font-family: Verdana;
  margin: 3px;
  background-color: #000;
}

#progress_bar {
  margin-top: 12px;
  width:0px;
  line-height:2px;
  background-color: #0C0;
  border:1px solid #090;
}

#countdown_tick {
  font-size: 12px;
  margin: 0 1px 0 1px;
  color: #ccc;
  font-weight: bolder;
}

img#restart {
  margin-left: 6px;
}